*.asv
get_data/data/ImgZfDsy20180223D3_bin221.tif
num_labeled/data/

data_analysis/plane_statistics/out/

data_vizualization/data/

get_data/data/legacy/

registration/data/gad1b/

registration/data/gab1b/gad1b_images/
registration/data/gab1b/ITK_SNAP_Matrices/

get_data/data/single_entry/gab1/Synspy-pair-csv_Files/

registration/data/gab1b/Tpt1_Registrations/

registration/data/gab1b/Tpt2-to-Tpt1_Matrices/

psd95_verify/

data_export/

data_analysis/roi_statistics/out/

not_used_stuff/
